* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  color: white;
  line-height: 1.4;
  font-size: 16pt;
}

nav {
  display: flex;
}

navi {
  justify-self:
}

nav h1 {
  color: #FFFF00;
  -webkit-text-stroke: black 2px;;
}

nav h3 {
  color: #black;
  -webkit-text-stroke: #FFFF00 2px;;
}

.headline {
  position:relative
}

.splash {
  height: 1200px;
  width: auto;
  background-image: url("assets/lead_ultrasharp.png");
  background-size: cover;
  background-position: center;
}

.hard {
  position: absolute;
  font-family: turret road, 'Times New Roman', Times, serif;
  font-size: 120px;
  font-weight: 800;
  text-align: right;
  top: -60px;
  right: 30px;
}

.cal {
  position: absolute;
  font-family: turret road, times-new-roman;
  font-size: 240px;
  font-weight: 800;
  color: red;
  text-align: right;
  top: -105px;
  right: 30px;
}

.hook {
  position: absolute;
  font-family: oswald, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  text-align: right;
  width: 650px;
  top: 350px;
  right: 30px;
}

h2{
  font-family: oswald, 'Times New Roman', Times, serif;
  font-size: 65px;
  font-weight: 800;
}

.intro {
  display: grid;
  grid-template: repeat(4, 680px) / repeat(2, 690px);
  justify-self: center;
  gap: 60px;
}

.img1 {
  background-color: red;
  background-image: url("assets/receivers.jpg");
  background-size: cover;
  background-position: right;
}

.img2 {
  background-color: red;
  background-image: url("assets/bolt.jpg");
  background-size: cover;
  background-position: left;
}

.img3 {
  background-color: red;
  background-image: url("assets/grip.jpg");
  background-size: cover;
  background-position: center;
}

.img4 {
  background-color: red;
  background-image: url("assets/stock-cropped.jpg");
  background-size: cover;
  background-position: center;
}

