* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  color: white;
  line-height: 1.4;
  font-size: 16pt;
}

.hard {
  font-family: turret road, 'Times New Roman', Times, serif;
  font-size: 120px;
  font-weight: 800;
  text-align: right;
}

.cal {
  font-family: turret road, times-new-roman;
  font-size: 120px;
  font-weight: 800;
  color: red;
  text-align: right;
}

h2{
  font-family: oswald, 'Times New Roman', Times, serif;
  font-size: 65px;
  font-weight: 800;
}

.intro {
  display: grid;
  grid-template: repeat(4, 500px) / repeat(2, 690px);
  justify-self: center;
}



