* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  color: white;
  line-height: 1.4;
  font-size: 16pt;
}

.headline {
  font-family: turret road, times-new-roman;
  font-size: 120px;
  font-weight: 800;
  text-align: right;
}



